
<div class="container">
  <h2>Contact Us</h2>
<form>

    <input type="text" ng-model="name" placeholder="Full Name" class="form-control"><br>

    <input type="text" ng-model="number" placeholder="Phone Number" class="form-control"><br>

    <input type="text" ng-model="email" placeholder="Email Address" class="form-control"><br>
               <textarea class="message-box" ng-model="message" cols="93" rows="10" placeholder=" Leave A Message.."></textarea>
          <p>
          <button type="submit" class="btn btn-large btn-primary">Submit</button>
       </p>
                    </form>

<br>

</div>